/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./resources/frontend/assets/scss/form.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: sans-serif;
  src: url(/9d7a6e03c6e3ed49c7ac.ttf);
}
body {
  margin: 0;
  font-family: "sans-serif", sans-serif;
}

.form-module-formBackground-sZtQg {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9fafb;
  overflow: hidden;
}

.form-module-formContainerLogin-DBHNV {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: white;
  padding: 28px;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}
.form-module-formContainerRegister-TiFjj {
  height: -moz-fit-content;
  height: fit-content;
  width: 460px;
  background-color: white;
  padding: 28px;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}
@media (max-width: 555px) {
  .form-module-formContainerRegister-TiFjj {
    width: -moz-fit-content;
    width: fit-content;
  }
}

.form-module-formTitle-CSDY5 {
  font-size: 24px;
  font-weight: 700;
  color: #ED9121;
  margin-top: 0;
}

.form-module-form-ZZn_O {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (max-width: 555px) {
  .form-module-form-ZZn_O {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    -moz-column-gap: 0px;
         column-gap: 0px;
  }
}

.form-module-formGroupLogin-xFAzz {
  grid-column: span 2;
  display: grid;
  margin-top: 10px;
}
.form-module-formGroupRegister-NJNm_ {
  grid-column: span 1;
  display: grid;
  margin-top: 10px;
}
@media (max-width: 555px) {
  .form-module-formGroupRegister-NJNm_ {
    grid-column: span 2;
    display: grid;
  }
}

.form-module-formInputTitle-Z1JKA {
  font-size: 16px;
  font-weight: 600;
  margin: 5px 0 5px 0;
}
@media (max-width: 555px) {
  .form-module-formInputTitle-Z1JKA {
    grid-column: span 2;
    display: grid;
  }
}

.form-module-formInput-la2vG {
  background-color: #f9fafb;
  border-width: 1px;
  color: #111827;
  border-radius: 8px;
  padding: 8px 12px 8px 12px;
  font-size: 16px;
}
.form-module-formInput-la2vG:focus {
  outline-color: #ED9121;
}
@media (max-width: 555px) {
  .form-module-formInput-la2vG {
    grid-column: span 2;
    display: grid;
  }
}

.form-module-formButton-e59M5 {
  background-color: #ED9121;
  padding: 8px;
  font-weight: 600;
  color: white;
  border-radius: 8px;
  border-color: #ED9121;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  box-shadow: none;
  border-style: solid;
  cursor: pointer;
  margin-top: 10px;
}

.form-module-formBottom-f4l6H {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-bottom: 0;
}

.form-module-formLink-PTJEg {
  color: #ED9121;
  font-weight: 700;
  text-decoration: none;
  margin-left: 5px;
}
.form-module-formLink-PTJEg:hover {
  text-decoration: underline;
}

.form-module-formErrorGroup-tubHi {
  display: grid;
  grid-column: span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-top: 10px;
  margin-bottom: 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.form-module-formError-mhmll {
  display: grid;
  grid-column: span 1;
  margin-top: 5px;
}
@media (max-width: 555px) {
  .form-module-formError-mhmll {
    grid-column: span 2;
    display: grid;
  }
}

.form-module-formErrorMessage-nAqvS {
  color: red;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./resources/frontend/assets/scss/flashMessage.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: sans-serif;
  src: url(/9d7a6e03c6e3ed49c7ac.ttf);
}
body {
  margin: 0;
  font-family: "sans-serif", sans-serif;
}

.flashMessage-module-messageContainer-oBxpH {
  width: 100dvw;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 40px;
  left: 0;
}

.flashMessage-module-errorMessageBox-NdNZs {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
  padding: 16px;
  font-size: 14px;
  font-weight: 600;
  color: #991b1b;
  border-radius: 8px;
  background-color: #fef2f2;
}

.flashMessage-module-successMessageBox-MtpIw {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
  padding: 16px;
  font-size: 14px;
  font-weight: 600;
  color: #166534;
  border-radius: 8px;
  background-color: #d7f7e1;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./resources/frontend/assets/scss/dashboard.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: sans-serif;
  src: url(/9d7a6e03c6e3ed49c7ac.ttf);
}
body {
  margin: 0;
  font-family: "sans-serif", sans-serif;
}

.dashboard-module-dashboardContainer-iybzp {
  padding-left: 5%;
  padding-right: 5%;
}
.dashboard-module-dashboardContainerHeader-VDN2K {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-module-dashboardSearch-oJpK4 {
  background-color: #f9fafb;
  border-width: 1px;
  border-color: #d1d5db;
  color: #111827;
  border-radius: 8px;
  padding: 12px 16px 12px 16px;
  box-shadow: none;
  border-style: solid;
  font-size: clamp(0.75rem, 0.6664rem + 0.3822vw, 1.125rem);
}
.dashboard-module-dashboardSearch-oJpK4:focus {
  outline-color: #ED9121;
}

.dashboard-module-dashboardUserContainer-m8b_m {
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  gap: 10px;
}

.dashboard-module-dashboardUserName-G12fZ {
  font-size: clamp(0.75rem, 0.6943rem + 0.2548vw, 1rem);
  align-self: center;
}

.dashboard-module-dashboardUserButton-nJWkP {
  background-color: white;
  font-size: 18px;
  color: #ED9121;
  padding: 8px 12px 8px 12px;
  border-radius: 8px;
  font-weight: 700;
  border: 2px;
  border-color: #ED9121;
  box-shadow: none;
  border-style: solid;
  cursor: pointer;
  text-decoration: none;
}

.dashboard-module-gameGroup-Yja0U {
  margin-top: 16px;
  margin-bottom: 16px;
}

.dashboard-module-gameGroupTitle-YV1wT {
  font-size: 24px;
  margin: 0;
}

.dashboard-module-gameCard-guo8w {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  row-gap: 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin-top: 12px;
}
@media (max-width: 1000px) {
  .dashboard-module-gameCard-guo8w {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (max-width: 650px) {
  .dashboard-module-gameCard-guo8w {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.dashboard-module-gameLink-vru5Z {
  display: grid;
  grid-column: span 1;
  background-color: #f9fafb;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  position: relative;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.dashboard-module-gameLink-vru5Z :visited {
  color: black;
}

.dashboard-module-gameImage-dgZkd {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.dashboard-module-gameName-f4uMK {
  font-size: 16px;
  margin: 0;
  font-weight: 600;
  padding: 12px 16px 12px 16px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.dashboard-module-gameNew-vIw3g {
  background-color: #F01E2C;
  color: white;
  position: absolute;
  padding: 8px 12px 8px 12px;
  font-weight: 600;
  border-bottom-left-radius: 12px;
  border-top-right-radius: 8px;
  right: 0px;
  top: -11px;
  font-size: 16px;
}
.dashboard-module-gameNew-vIw3g:hover {
  background-color: #F01E2C;
}

.dashboard-module-gameRank-Dvdkx {
  background-color: #56a120;
  position: absolute;
  padding: 8px 12px 8px 12px;
  font-size: 16px;
  font-weight: 600;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 8px;
  color: white;
  top: -11px;
}

.dashboard-module-noRecentGames-zSWEH {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 40px 0 40px 0;
}

.dashboard-module-dashboardButtonContainer-MY9a2 {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.dashboard-module-dashboardHamburgerButton-F47Ns {
  border-width: 3px;
  background: white;
  font-weight: bolder;
  font-size: 20px;
  color: #ED9121;
  border-color: #ED9121;
  border-radius: 5px;
  padding-right: 8px;
  padding-left: 8px;
  padding-bottom: 3px;
  border-style: solid;
}

.dashboard-module-dashboardHamburgerMenu-SANfT {
  position: absolute;
  filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
  width: 93.1dvw;
  left: 0px;
  top: 90px;
  background: white;
  padding: 20px;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  justify-content: center;
  z-index: 1;
}
/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./resources/frontend/pages/Edit.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: sans-serif;
  src: url(/9d7a6e03c6e3ed49c7ac.ttf);
}
body {
  margin: 0;
  font-family: "sans-serif", sans-serif;
}

.Edit-module-editBackground-XtXvd {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9fafb;
  overflow: hidden;
}

.Edit-module-editContainer-ZQr0u {
  height: -moz-fit-content;
  height: fit-content;
  width: 310px;
  background-color: white;
  padding: 28px;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

.Edit-module-editTitle-lPXhi {
  font-size: 24px;
  font-weight: 700;
  color: #ED9121;
  margin-top: 0;
}

.Edit-module-editInputTitle-hML9m {
  font-size: 16px;
  font-weight: 600;
  margin: 5px 0 5px 0;
}

.Edit-module-editInput-USsLn {
  background-color: #f9fafb;
  border-width: 1px;
  color: #111827;
  border-radius: 8px;
  padding: 8px 12px 8px 12px;
  font-size: 16px;
  display: block;
  margin: 10px 0 10px 0;
  width: 92%;
}
.Edit-module-editInput-USsLn:focus {
  outline-color: #ED9121;
}

.Edit-module-editButton-A_2kg {
  background-color: #ED9121;
  padding: 8px;
  font-weight: 600;
  color: white;
  border-radius: 8px;
  border-color: #ED9121;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  box-shadow: none;
  border-style: solid;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}

.Edit-module-editCancel-HzEWC {
  text-align: center;
}

.Edit-module-editCancelButton-pC3LY {
  color: #ED9121;
  font-weight: 700;
  text-decoration: none;
}
.Edit-module-editCancelButton-pC3LY:hover {
  text-decoration: underline;
}

.Edit-module-editErrorMessage-DakTy {
  color: red;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}
