@font-face {
    font-family: sans-serif;
    src: url(../../assets/font/nunitoRegular.ttf);
}
$primary: #ED9121;
$secondary: #f9fafb;
$gray-300: #d1d5db;
$gray-900: #111827;
$red: #F01E2C;
$green: #56a120;

body {
    margin: 0;
    font-family: 'sans-serif', sans-serif;
}